html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #333;
    color: white;
}

#root {
    width: 100%;
    padding-bottom: 3rem;
}

.App {
    width: 100%;
    display: flex;
    justify-content: center;
}

.color-text {
    color: orange;
}

.currencyList{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    background-color: #333;
}

.category-name {
    width: calc(100% - 2rem);
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
}

.currencyItem{
    width: calc(100% - 2rem);
    padding: 0.5rem 1rem;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    padding: 1rem;
}

.currencyItem span {
    padding: 0.5rem 1rem;
}

.currencyItem-actions-add,
.currencyItem-actions-del,
.currencyItem-actions-edit {
    padding: 1rem;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    background-color: orange;
}

.Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

logo {
    padding: 1rem;
}

logo a {
    text-decoration: none;
    color: orange;
    font-weight: bold;
    font-size: 1.2rem;
}

nav a {
    margin-left: 0.5rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: orange;
    border: 1px solid orange;
    transition: 0.3s;
}

nav a:hover {
    color: #333;
    background-color: orange;
}


footer {
    width: 100%;
    text-align: center;
    padding: 0.5rem 1rem;
    position: fixed; 
    bottom: 0;
    color: #999;
}
